{
  "env": {
    "es6": true,
    "node": true,
    "mocha": true
  },
  "parserOptions": {
    "ecmaVersion": 2018
  },
  "extends": "eslint:recommended",
  "rules": {
    "linebreak-style": [ 0 ],
    "no-return-await": "error",
    "no-await-in-loop": 0,
    "no-plusplus": "error",
    "prefer-arrow-callback": "warn",
    "prefer-const": ["error", { "destructuring": "all" } ],
    "quotes": ["error", "single", { "avoidEscape": true } ],
    "indent": [
      "error",
      2
    ],
    "comma-dangle": [
      "error",
      "never"
    ],
    "no-lonely-if": "error",
    "no-unneeded-ternary": "error",
    "no-whitespace-before-property": "error",
    "block-spacing": "error",
    "comma-spacing": [
      "error",
      {
        "before": false,
        "after": true
      }
    ],
    "semi": [
      "error",
      "never"
    ],
    "keyword-spacing": [
      "error",
      {
        "before": true
      }
    ],
    "object-curly-spacing": [
      "error",
      "always"
    ],
    "array-bracket-spacing": [
      "error",
      "never",
      {
        "singleValue": true,
        "objectsInArrays": true
      }
    ],
    "arrow-spacing": "error",
    "arrow-parens": [
      "error",
      "as-needed"
    ],
    "arrow-body-style": [
      "error",
      "as-needed"
    ],
    "no-var": "error",
    "no-else-return": "error",
    "no-multi-spaces": "error",
    "no-eval": "error",
    "no-console": "off",
    "no-mixed-operators": "warn",
    "object-shorthand": "error",
    "prefer-destructuring": [
      "warn",
      {
        "object": true,
        "array": true
      }
    ],
    "strict": 0
  }
}