$palette: (
  red: #F44336,
  pink: #E91E63,
  purple: #9C27B0,
  deeppurple: #673AB7,
  cyan: #00BCD4,
  indigo: #3F51B5,
  lightblue: #03A9F4,
  blue: #2196F3,
  green: #4CAF50,
  teal: #009688,
  orange: #FF9800,
  deeporange: #FF5722,
  brown: #795548,
  black: #333,
  backblack: #202329,
  darkgray: #4f4f4f,
  bluegray: #607D8B,
  link: #167ac6,
  fullblack: #000,

  lightgreen: #8BC34A,
  lime: #CDDC39,
  yellow: #FFEB3B,
  amber: #FFC107,
  lightgray: #d8d8d8,
  gray: #9E9E9E,
  white: #fff,
  whitesmoke: #f5f5f5,
);

@function color($key) {
  @if map-has-key($palette, $key) {
    @return map-get($palette, $key);
  }
  @else {
    @return $key;
  }
}
